.banner {
    background-image: url('../../../image/banner/banner1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.banner-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 17%;
    padding-bottom: 2%;
}

.resume-download-button {
    font-size: 34px;
    border: 1px solid;
    border-radius: 11px;
    margin-left: 34px;
    padding: 0 5px 0 5px;
}

.resume-download-button>a {
    margin: 0;
    text-decoration: none;
    color: white;
}

.resume-download-button>a:hover {
    text-decoration-line: underline;
    color: black;
}

.resume-download-icon {
    margin: 0px 0px -5px 8px;
}

.contact-link {
    font-size: 34px;
    display: flex;
    margin-left: 28%;
}

.contact-link>p {
    color: white;
    margin: 8px 0px 0px 0px;
}

.contact-link>a {
    color: white;
}

.contact-link>a:hover {
    color: black;
}

.font-awsome {
    margin-left: 20px;

}

.project-container {
    margin-top: 50px;
    padding-top: 26px;
    background-image: url('../../../image/project/projectBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;
}

.all-project {
    padding: 24px 40px 34px 40px;
}

.project-container a {
    text-decoration: none;
    color: white;
}

#projects {
    color: white;
    margin-left: 490px;
    width: fit-content;
    padding: 8px;
    border-radius: 12px;
    background-image: linear-gradient(45deg, #032616, black);
}

#contact {
    margin-top: 48px;
    background-image: url('../../../image/pages/contact/background.png');
    padding-bottom: 100px;
    padding-top: 100px;
}

@media only screen and (min-width:2160px){
    .banner-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20%;
        padding-bottom: 3%;
    }
    .resume-download-button {
        font-size: 56px;
        border: 1px solid;
        border-radius: 11px;
        margin-left: 76px;
        padding: 0 5px 0 5px;
    }
    .contact-link {
        font-size: 56px;
        display: flex;
        margin-right: 364px;
    }
}

@media (min-width:1366px) {
    .banner-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 17%;
        padding-bottom: 3%;
}
.resume-download-button {
    font-size: 28px;
    border: 1px solid;
    border-radius: 11px;
    margin-right: 68px;
    padding: 0 10px 0 10px;
}
    .contact-link {
        font-size: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 300px;
       
    }

}

@media (max-width:1365px) {
    .banner{
     margin-top: 0px;
    }
    .banner-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 42px;
        padding-top: 186px;
    }
    .resume-download-button{
        font-size: 20px;
        padding: 4px 10px 4px 10px;
    }
    .resume-download-icon {
        margin: 0px 0px 0px 10px;
    }
    .contact-link {
        font-size: 20px;
        justify-content: center;
        align-items: center;
        margin-right: 125px;
    }

    .contact-link>p {
        color: white;
        margin: 16px 0px 0px 0px;
    }


    /* contact page design */

    .Contact-page-container {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
   }
   .contact-text {
    background-image: linear-gradient(45deg, #000, #064238);
    color: #fff;
    margin-left: 68px;
    margin-right: 50px;
    margin-bottom: 60px;
    padding: 62px 35px 62px 36px;
    border-radius: 20px;
   }
 }